<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bosssoft.platform.datav.mapper.infra.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.bosssoft.platform.datav.domain.Report" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="REPORT_ID" property="reportId" jdbcType="VARCHAR" />
    <result column="REPORT_NAME" property="reportName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="SHARE_STATE" property="shareState" jdbcType="VARCHAR" />
    <result column="SHARE_TOKEN" property="shareToken" jdbcType="VARCHAR" />
    <result column="SHARE_PASSWORD" property="sharePassword" jdbcType="VARCHAR" />
    <result column="CONFIGURATION" property="configuration" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER" property="modifyUser" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ReportResultMap" type="com.bosssoft.platform.datav.domain.Report">
  	<result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectDataViewByCondition" resultMap="ReportResultMap">
  	select t.*,c.CATEGORY_NAME
  	from dv_report t
  	left join dv_report_category c on t.CATEGORY_ID=c.CATEGORY_ID
  	<where>
  		<if test="search.categoryId !=null and search.categoryId!=''">
  		 and t.CATEGORY_ID=#{search.categoryId}
  		</if>
  		
  		<if test="search.shareState !=null and search.shareState!=''">
  		 and t.SHARE_STATE=#{search.shareState}
  		</if>
  		
  		<if test="search.nameLike !=null and search.nameLike!=''">
  		 and t.REPORT_NAME like CONCAT('%',CONCAT(#{search.nameLike},'%'))
  		</if>
  	</where>
  	order by t.CREATE_TIME desc
  	
  </select>
  
</mapper>